body{
    overflow: hidden;
    background-color: black;
}

.navbar-custom{
    background-color: #010101;
}

.nav-link-custom{
    padding: 0px 10px 0 30px;
    color: grey;
}

.nav-link-custom:hover{
    color: white;
}

.inner-content{
    position: absolute;
}

#mainDiv{
    border: 10px solid white;
}