body {
	overflow: auto;

}

#videoDiv {
	box-shadow: 0px 0px 50px 10px black;
}

#videoTextDiv {
	position: absolute;
	
}


#videoTextDiv > a {
	font-family: 'Frank Ruhl Libre', serif;
	color: white;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

#videoTextDiv > a:hover {
    text-shadow: 0px 0px 10px #cccccc;
    cursor: pointer;
}

#storyContent {
	margin-top: 25px;
	box-shadow: 0px 0px 50px 10px black;
	padding: 13px;
}

#storyContent > p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	text-align: justify;
}

#storyContent > h2 {
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 36px;
	color: gray;
}

#storyContent > h2:hover {
	color: white;
	text-shadow: 0px 0px 10px #cccccc;
    cursor: pointer;
}

h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-indent: 58px;
}

#firstP, #secondP, #thirdP {
	text-indent: 3em;
}

#firstP::first-letter, #secondP::first-letter, #thirdP::first-letter {
    font-size: 150%;
}
