#gateInfo{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 10px #888888;
}
#gateInfo:hover{
    text-shadow: 0px 0px 30px #999999;
    cursor: pointer;
}

#gateEnter{
    margin-top: 20px;
    padding: 18px 90px;
    border: 3px solid grey;
    border-radius: 7px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 0px 50px 0px #202020;
}

#gateEnter:hover{
    border: 3px solid white;
    text-shadow: 0px 0px 30px #999999;
    box-shadow: 0px 0px 50px 5px #303030;
    cursor: pointer;
}

#gateImg, #gateInfo, #gateEnter{
    display: none;
}